<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31950944277-itkjurtef9duaquh6up4r9bifcv39pa3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31950944277-itkjurtef9duaquh6up4r9bifcv39pa3</string>
	<key>API_KEY</key>
	<string>AIzaSyDsJzrFu8XlvxMtSTw72wR4o8vy0rdsN5A</string>
	<key>GCM_SENDER_ID</key>
	<string>31950944277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infinicomm.MERCYDA-TRACK</string>
	<key>PROJECT_ID</key>
	<string>m-track-3061c</string>
	<key>STORAGE_BUCKET</key>
	<string>m-track-3061c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:31950944277:ios:50645a97e0d7632dbc761c</string>
	<key>DATABASE_URL</key>
	<string>https://m-track-3061c.firebaseio.com</string>
</dict>
</plist>
