<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272935731519-ssvhg0rodj6j0hclb6shl2mockl9tk5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272935731519-ssvhg0rodj6j0hclb6shl2mockl9tk5d</string>
	<key>API_KEY</key>
	<string>AIzaSyAjcRmEam13vtv1JMjNEUIfBclvRr83XHs</string>
	<key>GCM_SENDER_ID</key>
	<string>272935731519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infinicom.MercydaTrack</string>
	<key>PROJECT_ID</key>
	<string>mercyda-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>mercyda-notifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272935731519:ios:66f8d5d78a41b995bfd38a</string>
	<key>DATABASE_URL</key>
	<string>https://mercyda-notifications.firebaseio.com</string>
</dict>
</plist>