<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907995638847-dholq1e7l5ebned38gue7odka13abdmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907995638847-dholq1e7l5ebned38gue7odka13abdmg</string>
	<key>API_KEY</key>
	<string>AIzaSyDe8bqgJD7heXrGfeu4cFvSSLpf1SP7mS4</string>
	<key>GCM_SENDER_ID</key>
	<string>907995638847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infinicom.MercydaTrack</string>
	<key>PROJECT_ID</key>
	<string>mercyda-track-android</string>
	<key>STORAGE_BUCKET</key>
	<string>mercyda-track-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:907995638847:ios:239b51c9625a6156585c8a</string>
	<key>DATABASE_URL</key>
	<string>https://mercyda-track-android.firebaseio.com</string>
</dict>
</plist>
